.footer-section {
    height: 100px;
    width: 100vw;
}

.footer-section {
    background: black;
    color: rgb(165, 82, 243);
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}