.contact-title {
    font-size: 15px;
}

.footer-section {
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0vh;
}

.footer-section {
    background: black;
    color: #B026FF;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}