.logo {
    height: 35vh;
    width: 100vw;
    background: rgb(2, 2, 2);
    position: absolute;
}

.logo img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me{
   display: flex;
   justify-content: center;
   align-items: center;
}