.headshot-image img{
    width: 50vw;
    height: 70vw;
}



.title {
    padding-top: 15vh;
    padding-bottom: 20px;
    font-size:xx-large
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
}

.about-us-description{
    font-size: larger;
}



.left-side {
    align-items: center;
}





.about-us-description{
    font-size: medium;
}

.top{
    padding-bottom: 20px;
}

.headshot-image {
    display: flex;
    flex-direction: row-reverse;
}

.home-section{
    margin-top: 35vh;
}