.login-section{
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    background-image: url(../../static/assets/Images/login-trans-1660x450px.png);
    height: 450px;
    width: 1600px;
}

.btn{
    width: 445px;
}

.login-form {
    display : flex;
    justify-content : center;
    align-items : center;
    padding-top: 100px;
}

input{
    width: 219px;
    height: 3em;
    font-size: 15px;
}

form{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius:6px;
}

