.login-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-img img{
    height: 800px;
    width: auto;

}

.btn{
    width: 445px;
}

.login-form {
    display : flex;
    justify-content : center;
    align-items : center;
}