.login-section{
    background-image: url(../../static/assets/Images/login-trans-1660x450px.png);
    height: 115vh;
    width: 100%;
    background-size: cover;
}

//this is a test

.btn{
    width: 445px;
}

.login-form form {
    justify-content : center;
    align-items : center;

    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%,-50%);

}

input{
    width: 219px;
    height: 3em;
    font-size: 15px;
}

form{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius:6px;
}


