@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color:#B026FF;
    color: white;


    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgb(165, 82, 243);
    }
}


