.nav-link-container {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}
.link {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:#B026FF;
}
.nav-section{
    background: rgb(2, 2, 2);
    position: absolute;
    top: 30vh;
}

