.sign-up-container {
    background-image: url(../../static/assets/Images/sign-up-1600-450.png);
    overflow: hidden;
    height: 55vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 35vh;
}

.sign-up-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

.sign-up-form-container input {
    width: 300px;
}

.sign-up-form-container form{
    margin-top: 5px;
    margin-bottom: 5px;
}

.sign-up-form-container input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1215px;
}
